body {
  min-height: 90vh;
  display: inline;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.chat {
  width: 500px;
  height: 90vh;
  float: right;
  margin-right: 32px;
  background-color: purple;
  border-radius: 1.5rem;
}

.bot {
  float: left;
  margin: 32px;
}
.bot form input {
  color: black;
}

.chat form {
  position: absolute;
}

.messages-div {
  height: 75vh;
  overflow-y: scroll;
}

form {
  margin-top: 6px;
  margin-left: 64px;
}

input::placeholder {
  color: white;
}

input[type="text"] {
  background-color: transparent;
  box-shadow: none;
  outline: none;
  margin-bottom: 12px;
  padding: 5px;
  color: white;
  line-height: 2rem;
  border: 1px solid black;
  border-radius: 12px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="submit"] {
  border-radius: 1px;
  width: 120px;
  margin-left: 12px;
  line-height: 2rem;
  background-color: transparent;
  border: 1px solid black;
  transition: 250ms;
}

input[type="submit"]:hover {
  background-color: black;
  color: white;
  border: 1px solid purple;
  transition: 250ms;
  cursor: pointer;
}

input[type="submit"]:focus {
  outline: none;
}

li {
  margin-top: 12px;
  font-size: 16px;
  list-style: none;
}
